// Not included automatically, only if $v-font-family specifies them
@import "open-sans/open-sans";
@import "source-sans-pro/source-sans-pro";
@import "roboto/roboto";
@import "lato/lato";
@import "lora/lora";


$fontawesome-pathPrefix: null;

@mixin valo-fonts {
  // Font Awesome icons from bootstrapcdn
  @include font-face(FontAwesome, "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont");

  .#{FontAwesome} {
      font-family: #{FontAwesome};
      font-style: normal;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      text-align: center;
  }
}

@mixin v-font($font-family, $file-name) {
  @include font-face($font-family, $file-name);

  .#{$font-family} {
      font-family: #{$font-family};
      font-style: normal;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      text-align: center;
  }
}


@mixin font($font-family, $file-name) {
  @warn "The 'font' mixin is DEPRECATED. You should use the corresponding 'v-font' mixin instead.";
  @include v-font($font-family, $file-name);
}



// Include directly to avoid trapping inside a parent selector
// TODO move inside the theme main mixin once we can use Sass 3.3 (@at-root)
@include valo-fonts;
